/* layout.css */

body{ margin:0; }

header, footer {
    background-color: black;
    padding: 2em;
    color:white;
}


main {
    background-color:black;
    padding:1em;

    box-sizing: 10px;
    width: 50%;
    float:left;
    color:white;
}

aside {
    background-color: black;
    padding:4em;

    box-sizing: border-box;
    width: 30%;
    float:right;
    color:white;
}

nav {
    background-color: black;
    padding: 1em;
    line-height: 2em;
    color:white;
}

footer { clear: both;}


/* A primeira Media Query */
@media (max-width: 700px) {

    main, aside {
        float: none;
        width: auto;
        color:white;
    }

}
